<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gsf98.notebook"
    android:versionCode="210"
    android:versionName="2.1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MD"
        android:name="MoodiaryApp">

        <!-- <uses-library android:name="com.google.android.maps" /> -->
        <activity
            android:name=".FragChangeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MoodActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShakeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OthersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OneListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OneDiaryListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TagActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52be825956240b3058091f31" >
        </meta-data>

        <meta-data android:value="mi" android:name="UMENG_CHANNEL"/>

        <receiver
            android:name=".receiver.AlamrReceiver"
            android:process=".abc" >
            <intent-filter>
                <action android:name="android.intent.action.STARTMYAP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YknGmxIoPugT7YrNrG955YLS" />
    </application>

</manifest>